@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
#mainpage,
#aboutcorona,
#symptoms,
#stats,
#Prevention {
	min-height: 100vh;
	padding-top: 60px;
	padding-bottom: 60px;
}

/* .scroll-container {
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
  }
  
  section {
	  min-height: 100vh;
	scroll-snap-align: start;
  } */

/* =========================navbar classes================================== */

.new-nav {
	background: rgb(67, 47, 104) !important;
	box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

/* .new-nav a {
	color: white !important;
} */

/* .navbar a {
	color: black;
} */

.navbar-brand {
	font-weight: 700;
	font-size: 100%;
}

/* ======================================================================= */
#mainpage {
	background-color: #e6fdd3;
}

#path5528 .cls-3{
	fill : #6e6fcc
}

#path5530 .cls-4{
fill: #40409b;
}


#mainpage .row {
	height: 100vh;
}

#mainpage .mainpage-text h1 {
	font-size: 450%;
	font-weight: 700;
	margin-left: auto;
	margin-right: auto;
}
#mainpage .mainpage-hero {
	width: 80%;
}

#mainpage .mainpage-text a {
	background-color: #005a14;
	border: none;
	color: white;
	font-weight: 500;
}

.heading-primary-01 {
	display: block;
	animation-name: moveInLeft;
	animation-duration: 1s;
}

.heading-primary-02 {
	display: block;
	animation-name: moveInRight;
	animation-duration: 1s;
}

.animated {
	animation: moveInBottom 0.5s ease-out 0.75s;
	animation-fill-mode: backwards;
}

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-10rem);
	}
	80% {
		transform: translateX(1rem);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(10rem);
	}
	80% {
		transform: translateX(-1rem);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInBottom {
	0% {
		opacity: 0; /*Because at starting opacity is 0*/
		transform: translateY(30px); /*Starting from left of the side*/
	}
	100% {
		opacity: 1;
		transform: translate(0); /*Final position is orignal*/
	}
}

/* ============================-------------------about corona section-----------------------================ */

#aboutcorona p {
	font-size: large;
}

#aboutcorona img {
	width: 50%;
}

/* ======================= symptoms page ===================================== */
#symptoms {
	background-color: rgba(232, 255, 247, 0.33);
}

#symptoms .card {
	width: 80%;
	margin: 0 auto;
	border: none;
	background-color: transparent;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	height: 100% !important;
	transform-origin: center;
}

#symptoms .img-top {
	border-radius: 50%;
	box-shadow: 0px 0px 9px 4px #eee;
	background-color: white;
	transform-origin: center;
	transition: box-shadow 0.6s;
<<<<<<< HEAD
=======

>>>>>>> dd58fb3177896b68c8a17e2dd7f861becd1529a9
}

#symptoms .card {
	perspective: 1000px;
}

#symptoms .card-front {
	z-index: 2;
}
<<<<<<< HEAD

#symptoms .card-wrapper:hover .img-top {
	box-shadow: 0px 0px 36px 16px rgb(229, 246, 253);
=======
#symptoms .img-top:hover{
	box-shadow: 0px 0px 36px 16px rgb(229,246,253);
	
>>>>>>> dd58fb3177896b68c8a17e2dd7f861becd1529a9
}

.card-wrapper {
	position: relative;
}

.card-front{
	width: 100% !important;
	margin: 0 auto 0 auto;
	
}

<<<<<<< HEAD


/* =========================================Prevention Section======================================== */
#Prevention {
	background-color: #2B2926
}

#Prevention .title{
	color: white;
}

#Prevention .card-img-top{
	width: 50%;
	margin: 30px auto;
}



=======
>>>>>>> dd58fb3177896b68c8a17e2dd7f861becd1529a9
/* -------------------------------------------------media queries------------------------------------------ */

@media only screen and (max-width: 860px) {
	#mainpage .mainpage-text h1 {
		font-size: 300%;
	}

	/* #mainpage .mainpage-text{
        transform: translateY(-20%);
    } */
}
@media only screen and (max-width: 500px) {
	#aboutcorona,
	#symptoms,
	#stats {
		min-height: 100vh;
		padding-top: 30px;
		padding-bottom: 30px;
	}
}
@media only screen and (max-width: 500px) {
	#mainpage .mainpage-hero {
		width: 90%;
	}
	#stats #info .card-body {
		width: 100%;
	}

	.new-nav {
		background-color: white;
		box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
	}

	#mainpage .mainpage-text {
		margin-top: 0 !important;
	}

	#symptoms .card-title {
		font-size: 80%;
	}
}
